@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url("../img/image4.jpeg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #b0d1a36b;
    border: 2px solid #b0d1a3d8;
    color: #192819;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;

}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #3c4b36ce;
    color: #dbd7d0e8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 290px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url("../img/image3.jpeg");
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #282b1d98;
    border: 2px solid #282b1d;
    color: #d0ccc1;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;

}

.quality-image__link a:hover{
    transform: scale(1.2);
}

.quality-text {
    background-color: #60646bd5;
    color: #dbd7d0e8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem; 
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-image: url("../img/image2.jpeg");
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #cdd5ca75;
    border: 2px solid #cdd5cafb;
    color: #262b17;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #7f7545ad;
    color: #cdd5ca;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem; 
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 160px;
    background-color: #445c3be3;
    color: #c0bbae83;
    font-size: 1.1rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;

}

.footer ul li a {
    color: #c0bbae83;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #d4d1c7d5;
    transform: scale(1.5);

} 
